body{
    background-color: black;
    color: white;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;    
}
.b{
    height:30px;
    width: 300px;
}
#incoming-list{
    margin-top: 20px;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid white;
    padding: 5px;
}
