body{
    background-color: black;
    color: white;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px;    
}
.b{
    height:30px;
    width: 300px;
}
#incoming-list{
    margin-top: 20px;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid white;
    padding: 5px;
}
#submitBtn {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background-color: #222;      /* Qara fon */
    color: white;                /* Ağ yazı */
    border: 2px solid white;     /* Ağ kənar */
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#submitBtn:hover {
    background-color: #444;      /* Hover zamanı bir az açıq qara */
}
